body{
	background:linear-gradient(90deg, #2c3e50 0%,#3498db 100% );
	font-size: 16px;
}
/* HEADER */
.navbar-default{
	border: 0px;
	border-radius: 0px;
	background-color: #ffeeee;
}
#nav-list a {
  text-align: center;
  font-size: 1.3em;
}
#nav-list a:hover {
  background: #3498db;
}
.navbar-default .navbar-brand{
	color:#2c3e50;
}
/*CONTENT*/
h2{
	color: white;
}
h3{
		margin: 10px;
	padding: 10px;
}
.row{
	background-color:  #ffeeee;
	margin: 10px;
	padding: 10px;
	font-size: 1.25em;
}